
  .table__actions button {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #357abd;
  }
  .action-buttons button:hover{
    color: rgb(1, 139, 1);
  }
  .show-branch-button{
    background-color: transparent;
    color: rgb(241, 83, 9);
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
  }
  
  .consumer-modal {
    width: 400px;
    margin: 100px auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .modal-header h2 {
    font-size: 24px;
    color: #333;
    width: 100%;
    text-align: center;
  }
  
  .view-modal .modal-header {
    border-bottom: none;
  }
  
  .view-modal .modal-footer {
    display: none;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
  }
  .consumerheader{
    display: flex;
    justify-content: space-between;
  }

  