.products__title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.products__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.products__category {
  display: flex;
  margin-right: 20px;
}

.products__label {
  margin: 10px;
  width: 100%;
  font-size: 1.1rem;
}

.products__select {
  border-radius: 8px 8px 0 0;
  padding: 8px;
  border: none;
  font-size: 16px;
  background-color: #d2dad4;
}

 .products__modal{
  width: 400px;
  margin: 30px auto;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
} 
.products__modal-header h2 {
  font-size: 24px;
  color: #333;
  width: 100%;
  text-align: center;
}

.modal-footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.ag-theme-alpine.table-container{
  width: 60%;
  margin: auto;
}

