.table-container {
  margin-top: 20px;
  width: 100%;
}

.product-status-available {
  padding: 2px 5px;
  color: #28A745;
  border: 1px dashed #28A745;
  border-radius: 10px;
}

.product-status-out_of_stock {
  padding: 2px 5px;
  color: #DC3545;
  border: 1px dashed #DC3545;
  border-radius: 10px;
}

.product-status-discontinued {
  padding: 2px 5px;
  color: rgb(197, 223, 52);
  border: 1px dashed rgb(197, 223, 52);
  border-radius: 10px;
}

.product-status-default {
  color: #FFFFFF;
}

.table__actions {
  display: flex;
  gap: 2px;
}

.table__action-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.table__action-button--view:hover {
  color: #007bff;
}

.table__action-button--edit:hover {
  color: #52c41a;
}

.table__action-button--delete:hover {
  color: #f5222d;
}
