.table-container {
  margin: 20px;
}

.table {
  width: 100%;
}

.table__actions {
  display: flex;
  gap: 10px;
}

.table__action-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.table__action-button--edit:hover {
  background-color: #e0e0e0;
}

.table__action-button--delete:hover {
  background-color: #ffcccc;
}
