.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.navbar img{
    width: calc(10px + 10vw);
    height: 9.2vh;
    border-radius: 30px;
}

 .navbar__theme-icon {
    background-color: black;
    color: white;
}

.navbar__notification-icon, .navbar__user-icon {
    margin-left: 1rem;
    font-size: 1.2rem;
}
