/* Sidebar container */
.sidebarpage {
  width: 250px;
  height: 100vh;
  background-color: #2c3e50;
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.sidebarpage__content {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebarpage__item {
  margin-bottom: 10px;
}

.sidebarpage__link {
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 15px 10px;
  color: #ecf0f1;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
}

.sidebarpage__link:hover {
  background-color: #34495e;
  border-radius: 20px;
}

.sidebarpage__item.active .sidebarpage__link {
  background-color: rgb(105, 134, 103);
  border-radius: 20px;
}

.sidebarpage__text:active {
  background-color: #1abc9c;
  color: #fff;
}

.sidebarpage__link svg {
  margin-right: 15px;
  font-size: 18px;
}

.sidebarpage__text {
  font-size: 16px;
  font-weight: 500;
  color: #ecf0f1;
}

@media (max-width: 768px) {
  .sidebarpage {
    width: 200px;
  }

  .sidebarpage__link svg {
    font-size: 16px;
  }

  .sidebarpage__text {
    font-size: 14px;
  }
}
